.MuiContainer-root.register-container {
  padding: 70px 16px 16px;
  max-width: 1140px;
  @media (max-width: 375px) {
    padding: 24px 16px;
  }
  .MuiButtonBase-root.MuiButton-root.MuiButton-contained.MuiButton-containedSecondary {
    background-image: unset;
    max-width: 320px;
    width: 100%;
    @media (max-width: 375px) {
      max-width: unset;
    }
  }
  .helper-text {
    max-width: 736px;
    text-align: center;
    margin: 0 auto;
    white-space: pre-line;
    margin-top: 24px;
    @media (max-width: 599px) {
      margin-top: 32px;
    }
    p.MuiTypography-root.MuiTypography-body2 {
      font-family: "Noto Sans JP", "Noto Serif JP", "Open Sans", sans-serif;
    }
  }
  .register--form {
    .text-field-container {
      justify-content: center;
    }
    .helper-text {
      a {
        text-decoration: underline;
        text-decoration-color: #009193;
        text-decoration-style: solid;
        text-decoration-thickness: 2px;
        font-weight: bold;
        color: #009193;
      }
    }
  }
  .register--email-authentication {
    .ghost-btn-container {
      button {
        margin: 4px;
      }
    }
  }
  .confirm-text {
    margin-top: 24px;
    cursor: pointer;
  }
}

@media (min-width: 1280px) {
  .MuiContainer-root.register-container {
    .register--form {
      .label-container {
        padding-left: 0px;
        padding-right: 0px;
      }
      .MuiFormControl-root {
        padding-left: 18px;
      }
    }
  }
}