@font-face {
  font-family: 'icomoon';
  src:  url('/assets/iconfont/icomoon.eot?e5cqfe');
  src:  url('/assets/iconfont/icomoon.eot?e5cqfe#iefix') format('embedded-opentype'),
    url('/assets/iconfont/icomoon.ttf?e5cqfe') format('truetype'),
    url('/assets/iconfont/icomoon.woff?e5cqfe') format('woff'),
    url('/assets/iconfont/icomoon.svg?e5cqfe#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-round-close:before {
  content: "\e936";
}
.icon-outline-location:before {
  content: "\e935";
}
.icon-phone:before {
  content: "\e933";
}
.icon-message:before {
  content: "\e934";
}
.icon-alert:before {
  content: "\e932";
}
.icon-big-star:before {
  content: "\e931";
}
.icon-outline-star:before {
  content: "\e930";
}
.icon-calendar:before {
  content: "\e92f";
}
.icon-fill-arrow-down:before {
  content: "\e92e";
}
.icon-active-booking:before {
  content: "\e900";
  color: #e5004e;
}
.icon-map-pin:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-topmenu:before {
  content: "\e903";
}
.icon-heart:before {
  content: "\e904";
}
.icon-search:before {
  content: "\e905";
}
.icon-notes:before {
  content: "\e906";
}
.icon-angle-down:before {
  content: "\e907";
}
.icon-location:before {
  content: "\e908";
}
.icon-like:before {
  content: "\e909";
}
.icon-arrow-next:before {
  content: "\e90a";
}
.icon-progress-find-nailist:before {
  content: "\e90b";
}
.icon-close:before {
  content: "\e90c";
}
.icon-progress-find-yours:before {
  content: "\e90d";
}
.icon-station:before {
  content: "\e90e";
}
.icon-progress-make-appointment:before {
  content: "\e90f";
}
.icon-location-line:before {
  content: "\e910";
}
.icon-angle-right:before {
  content: "\e911";
}
.icon-angle-left:before {
  content: "\e912";
}
.icon-angle-up:before {
  content: "\e913";
}
.icon-n:before {
  content: "\e914";
}
.icon-horizontal:before {
  content: "\e915";
}
.icon-EasyBooking:before {
  content: "\e916";
}
.icon-TryApp:before {
  content: "\e917";
}
.icon-fukuoka:before {
  content: "\e918";
}
.icon-plus:before {
  content: "\e919";
}
.icon-osaka:before {
  content: "\e91a";
}
.icon-aichi:before {
  content: "\e91b";
}
.icon-kanagawa:before {
  content: "\e91c";
}
.icon-arrow-down:before {
  content: "\e91d";
}
.icon-filter:before {
  content: "\e91e";
}
.icon-round-checked:before {
  content: "\e91f";
}
.icon-hyogo:before {
  content: "\e920";
}
.icon-clock:before {
  content: "\e921";
}
.icon-star:before {
  content: "\e922";
}
.icon-price:before {
  content: "\e923";
}
.icon-house:before {
  content: "\e924";
}
.icon-menu:before {
  content: "\e925";
}
.icon-nail:before {
  content: "\e926";
}
.icon-technical:before {
  content: "\e927";
}
.icon-default-user:before {
  content: "\e928";
}
.icon-trash:before {
  content: "\e929";
}
.icon-tokyo:before {
  content: "\e92a";
}
.icon-outline-add:before {
  content: "\e92b";
}
.icon-question:before {
  content: "\e92c";
}
.icon-uncheck:before {
  content: "\e92d";
}
.icon-social-facebook:before {
  content: "\1f550";
}
.icon-social-instagram:before {
  content: "\1f551";
}
.icon-twitter:before {
  content: "\1f552";
}
